* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
    color:#fff;
    font-family: 'MedievalSharp', cursive;
}
main{
    display: flex;
    flex-direction: column;
}

.character-card{
    margin: 1.5rem auto;
    height: 50vh;
    width: 90%;

    border: 0.2rem solid #000721;
    box-shadow: inset 0px 0px 6px 2px rgba(100,100,100,0.2),
    0px 0px 10px rgba(117,182,214,0.2);
    background: #231d24;
    border-radius: 14px;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.avatar-container{
    height: 75%;
    /* border: red 1px solid; */
}
.avatar{
    border-radius: 10px;
    background-color: rgba(132, 3, 3, 0.689);
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero.jpg");
    display: flex;
    align-items: center;
}

.health-bar-outer {
    background: #171217;
    height: 1vh;
    width:90%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner {
    background: #466d34;
    height: 100%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner.danger {
    background:#d1435f;
}

#actions{
    text-align: center;
    padding-bottom: 2rem;
}
button {
    margin-top: .5rem;
    font-family: 'MedievalSharp', cursive;
    background-color: #fcc02a;
    border: 2px solid #963404;
    outline: none;
    padding-left:5vw;
    padding-right:5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height:9vh;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
}

button:focus { outline: 0 }

/* DICE AREA */
.dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    height: 20%;
    /* border: red solid 1px; */
}
.placeholder-dice,
.dice{
    aspect-ratio: 1/1;
    height: 60%;
    background: #fff;   
    border-radius: 5px;
    border:1px solid #666;
    color:#000721;
    text-align: center;
    margin-left: 1rem;
    line-height: 2.5em;
}
.dice-container .placeholder-dice{
    background-color: transparent;
}
.dice{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice p{
    flex: 0 2 5em
}

/* typography */
.character-card{
    text-align: center;
    font-size: 1.6rem;
    color: white;
}
.name{
    letter-spacing: 0.08em;
}
.health{
    color:#ccc;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.health b {
    font-weight: bold;
    color:#fff;

}
h4{
    margin-top: 1rem;
    margin-bottom: .5rem;
}
#end-game{
    font-size: 2rem;
}

/* media query */
@media (min-width:600px){
    main{
        flex-direction: row;
        justify-content: center;
        min-height: 400px;
    }
    .character-card{
        max-width: 45%;
        max-height: 50vh;
        margin-left:5vw;
        margin-right:5vw;
        min-height: 350px;
    }

}
@media (min-height:660px) and (min-width: 600px){
    main{
        height: 80vh;
        min-height: 400px;
    }
    .character-card{
        max-height: 90vh;
        height: 80%;
        min-height: 35px;
    }

}